<ion-content>
    <ion-button color='dark' expand="full" (click)='this.mover("/alta-producto")' >Crear Producto</ion-button>
    <ion-button color='dark' expand="full" (click)='this.mover("/alta-mesa")' >Crear Mesa</ion-button>
    <ion-button color='dark' expand="full" (click)='this.mover("/alta-cliente")' >Crear cliente</ion-button>
    <ion-button color='dark' expand="full" (click)='this.mover("/alta-empleado")' >Crear empleado</ion-button>
    <ion-button color='dark' expand="full" (click)='this.mover("/alta-supervisor")' >Crear supervisor</ion-button>
    <ion-button color='dark' expand="full" (click)='this.mover("/home-cliente")' >Inicio cliente</ion-button>
    <ion-button color='dark' expand="full" (click)='this.mover("/cuenta")' >Cuenta</ion-button>
    <ion-button color='dark' expand="full" (click)='this.mover("/log-in")' >Log In</ion-button>
    <ion-button color='dark' expand="full" (click)='this.mover("/hacer-pedido")' >Hacer Pedido</ion-button>
    <ion-button color='dark' expand="full" (click)='this.mover("/home-mozo")' >Home Mozo</ion-button>




    <ion-button color='dark' expand="full" (click)='this.Email()' >mail</ion-button>
    <ion-button color='dark' expand="full" (click)='this.mover("/home-comanda")' >Inicio Comanda</ion-button>
    <ion-button color='dark' expand="full" (click)='this.mover("/home-metre")' >Inicio Metre</ion-button>

</ion-content>
