<ion-header>
  <ion-toolbar>
    <ion-title color="danger" style="text-align: center;">Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="esMozo">
    <ion-label>Mesas con pedidos:</ion-label>
    <ion-select [(ngModel)]="id" placeholder="Seleccione mesa">
      <ng-container *ngFor="let item of mesasClientes">
        <ion-select-option *ngIf="!item.cerrada">{{item.idMesa}}</ion-select-option>
      </ng-container>
    </ion-select>
    <ion-button color="danger" (click)="CargarCuenta()">Cargar Cuenta</ion-button>
  </div>
  <br>
  <div>
    <table style="border: 2px solid red; width: 100%; text-align: center;">
      <thead>
          <th>Producto</th>
          <th>Precio</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of productosCuenta">
          <td>{{item.nombre}}</td>
          <td slot="end">{{item.precio}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <h1>Total: {{total}}</h1>
    <br>
    <ion-button *ngIf="empleado.perfil == 'cliente'" (click)="Propina()">Sumar Propina</ion-button>
    <ng-container *ngIf="empleado.perfil != 'cliente'">
      <ion-item *ngIf="propina == 0 && total != 0">
        <h2>Falta ingresar la propina!</h2>
      </ion-item>
      <ion-item *ngIf="propina != 0">
        <ion-item>
          <ion-button color="danger" expand="block" (click)="Pagada()">Pagada</ion-button>
        </ion-item>  
      </ion-item>  
    </ng-container>    
  </div>
</ion-content>
