<ion-content>
  <ion-card class="ion-activatable" (click)="this.Mover('cuenta')" [ngClass]="{ 'card-vertical': !this.platform.isLandscape(), 'card-horizontal': this.platform.isLandscape() }">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="logo-usd" [ngClass]="{ 'icon-horizontal': this.platform.isLandscape(), 'icon-vertical': !this.platform.isLandscape() }"></ion-icon>
    <h2>Cerrar Mesa</h2>
  </ion-card>

  <ion-card class="ion-activatable" (click)="this.Mover('alta-empleado')" [ngClass]="{ 'card-vertical': !this.platform.isLandscape(), 'card-horizontal': this.platform.isLandscape() }">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="restaurant" [ngClass]="{ 'icon-horizontal': this.platform.isLandscape(), 'icon-vertical': !this.platform.isLandscape() }"></ion-icon>
    <h2>Crear Empleado</h2>
  </ion-card>

  <ion-card class="ion-activatable" (click)="this.Mover('alta-supervisor')" [ngClass]="{ 'card-vertical': !this.platform.isLandscape(), 'card-horizontal': this.platform.isLandscape() }">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="checkbox-outline"></ion-icon>
    <h2>Crear Superfisor</h2>
  </ion-card>

  <ion-card class="ion-activatable" (click)="this.Mover('aceptar-cliente')" [ngClass]="{ 'card-vertical': !this.platform.isLandscape(), 'card-horizontal': this.platform.isLandscape() }">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="person-add" [ngClass]="{ 'icon-horizontal': this.platform.isLandscape(), 'icon-vertical': !this.platform.isLandscape() }"></ion-icon>
    <h2>Aceptar Clientes</h2>
  </ion-card>

  <ion-card class="ion-activatable" (click)="this.Mover('confirmar-reserva')" [ngClass]="{ 'card-vertical': !this.platform.isLandscape(), 'card-horizontal': this.platform.isLandscape() }">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="calendar" [ngClass]="{ 'icon-horizontal': this.platform.isLandscape(), 'icon-vertical': !this.platform.isLandscape() }"></ion-icon>
    <h2>Reservas</h2>
  </ion-card>

  <ion-card class="ion-activatable" (click)="this.Mover('mozo-aceptar')" [ngClass]="{ 'card-vertical': !this.platform.isLandscape(), 'card-horizontal': this.platform.isLandscape() }">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="logo-model-s" [ngClass]="{ 'icon-horizontal': this.platform.isLandscape(), 'icon-vertical': !this.platform.isLandscape() }"></ion-icon>
    <h2>Delivery</h2>
  </ion-card>


  <ion-card class="ion-activatable" (click)="this.Mover('alta-mesa')" [ngClass]="{ 'card-vertical': !this.platform.isLandscape(), 'card-horizontal': this.platform.isLandscape() }">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="beer" [ngClass]="{ 'icon-horizontal': this.platform.isLandscape(), 'icon-vertical': !this.platform.isLandscape() }"></ion-icon>
    <h2>Agregar Mesa</h2>
  </ion-card>

  <ion-card class="ion-activatable" (click)="this.Mover('encuesta-supervisor')" [ngClass]="{ 'card-vertical': !this.platform.isLandscape(), 'card-horizontal': this.platform.isLandscape() }">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="trending-up" [ngClass]="{ 'icon-horizontal': this.platform.isLandscape(), 'icon-vertical': !this.platform.isLandscape() }"></ion-icon>
    <h2>Estadisticas</h2>
  </ion-card>
</ion-content>